@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto", sans-serif; */

.nav-bar{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo{
    width: 192px;
    height: auto;
}

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 40px;
}

li{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #1C1E53;
    transition: .4s;
    cursor: pointer;
}

li:hover{
    color: #5E3BEE;
}

.button-nav{
    width: 170px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5E3BEE;
    background-color: white;
    border: 2px solid #5E3BEE;
    transition: .4s;
    cursor: pointer;

}

button:hover{
    color: white;
    background-color:#1C1E53;
    border: 2px solid #1C1E53;
}